@font-face {
    font-family: "main-font";
    src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

* {
    box-sizing: border-box;
    font-family: "main-font";
}

body {
    background-color: #121212;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 2fr;
    height: 100vh;
    margin: 0;
    padding: 1em;
}

.inputs {
    background-color: #2f2b3b;
    border: 1px solid #49435c;
    margin: 0 auto;
    padding: 2em;
    border-radius: 2em;
    color: white;
    max-width: 30em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

select {
    border: none;
    background-color: #211d2b;
    border: 1px solid #3b334d;
    color: white;
    padding: 1em;
    border-radius: 1em;
}

.submit-button {
    all: unset;
    display: block;
    margin: 0 auto;
    background-color: #4728a6;
    border: 1px solid #542fc4;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
}

.submit-button:hover {
    background-color: #3b218a;
    cursor: pointer;
}

.attempts {
    margin: 0 auto;
    max-width: 30em;
    width: 100%;
    background-color: #211d2b;
    border: 1px solid #272332;
    border-radius: 2em;
    overflow-y: scroll;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.attempt {
    background-color: #2f2b3b;
    border: 1px solid #49435c;
    margin: 1em;
    text-align: center;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
}

.attempt-row {
    display:flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.attempt-row span {
    flex: 1;
}

h1 {
    margin: 0.5em;
    text-align: center;
    color: white;
}