@font-face {
    font-family: "main-font";
    src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-color: #121212;
    --sub-box-background-color: #211d2b;
    --box-background-color: #2f2b3b;
    --input-border-color: #49435c;
    --select-border-color: #3b334d;
    --button-background-color: #4728a6;
    --button-border-color: #542fc4;
    --button-hover-background-color: #3b218a;
    --attempts-border-color: #272332;
    --text-color: #ffffff;

}

* {
    box-sizing: border-box;
    font-family: "main-font";
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 2fr;
    height: 100vh;
    margin: 0;
    padding: 1em;
}

.inputs {
    background-color: var(--box-background-color);
    border: 1px solid var(--input-border-color);
    margin: 0 auto;
    padding: 2em;
    border-radius: 2em;
    color: var(--text-color);
    max-width: 30em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

select {
    border: none;
    background-color: var(--sub-box-background-color);
    border: 1px solid var(--select-background-color);
    color: var(--text-color);
    padding: 1em;
    border-radius: 1em;
}

.button {
    all: unset;
    display: block;
    margin: 0 auto;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--text-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-background-color);
    cursor: pointer;
}

.attempts {
    margin: 0 auto;
    max-width: 30em;
    width: 100%;
    background-color: var(--sub-box-background-color);
    border: 1px solid var(--attempts-border-color);
    border-radius: 2em;
    overflow-y: scroll;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.attempt {
    background-color: var(--box-background-color);
    border: 1px solid var(--input-border-color);
    margin: 1em;
    text-align: center;
    color: var(--text-color);
    border-radius: 1em;
    padding: 0.5em;
}

.attempt-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.image {
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-div {
    margin: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.attempt-row span {
    flex: 1;
}

h1 {
    margin: 0.5em;
    text-align: center;
    color: var(--text-color);
}